@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button,
a {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    color: #000;
    font-size: 10px;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 1rem;
}

.lock {
    overflow: hidden;
}

.btn {
    display: inline-block;
    padding: 2.1rem 7rem;
    font-size: 2.8rem;
    color: #fff;
    border-radius: 100px;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.title {
    font-size: 5.6rem;
    line-height: 7rem;
    text-align: center;
}

.subtitle {
    font-size: 3.6rem;
    line-height: 5rem;
}

.date {
    display: inline-block;
    font-size: 2.4rem;
    line-height: 3.2rem;
    border-radius: 100px;
    padding: 1rem 2rem;
    text-align: center;
    color: #fff;
}

.name {
    font-size: 2.8rem;
    line-height: 3rem;
}

.table {
    border-radius: 30px;
    padding: 3rem 0 5rem 0;
    text-align: center;
    max-width: 910px;
    width: 100%;
}

.after {
    position: relative;
}

.after::after {
    display: block;
    content: "";
    max-width: 910px;
    height: 1px;
    width: 100%;
    background-color: #ebebeb;
    position: absolute;
    bottom: -20%;
    left: 0;
}

/* blocks */
.header {
    width: 100%;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 70px 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header__nav {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.4rem 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.header__logo {
    margin: 0 20px 0 40px;
}

.header__list {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 10rem;
}

.header__link {
    font-size: 2.4rem;
    color: #000;
    transition: linear 0.4s;
    position: relative;
}

.header__link:hover {
    color: #08a61a;
}

.header__link::after {
    display: block;
    content: "";
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #08a61a;
    border-radius: 300px 300px 0px 0px;
    transition: opacity 0.5s, linear 0.4s;
    opacity: 0;
    visibility: hidden;
}

.header__link:hover::after {
    opacity: 1;
    visibility: visible;
}

.header__btn {
    background-color: #db5542;
    transition: linear 0.2s;
}

.header__btn:hover {
    background-color: #f66551;
}

.timetable {
    padding: 5rem 0 2.5rem 0;
}

.timetable__content {
    border-radius: 50px;
    padding: 5rem 1rem;
}

.timetable__content + .timetable__content {
    margin-top: 5rem;
}

.timetable__content_green {
    background-color: #0a9050;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.timetable__title {
    color: #00ff84;
}

.timetable-column {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

.timetable-column__date {
    background-color: #039e53;
}

.timetable-column__date-wrap {
    margin: 3rem 0;
}

.timetable-column__body {
    width: 100%;
    margin-bottom: 3rem;
}

.timetable-column__group + .timetable-column__group {
    margin-top: 3rem;
}

.timetable-column__vs {
    display: -ms-flexbox;
    display: flex;
}

.timetable-column__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}

.timetable-column__row_first {
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.timetable-column__row-img {
    margin: 0 3rem;
}

.timetable-column__row-name {
    color: #fff;
}

.timetable-column__row-note {
    display: block;
    text-align: right;
    font-size: 2rem;
    line-height: 2.7rem;
    color: #faff00;
}

.timetable-column__time {
    font-size: 2.4rem;
    line-height: 3.2rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.timetable-column__time-info {
    color: #fff;
}

.timetable-column__time-info_vs {
    color: #00ff84;
}

.timetable-column__table {
    background-color: #039e53;
}

.timetable-column__table + .timetable-column__table {
    margin-top: 3rem;
}

.timetable-column__info {
    font-size: 2.4rem;
    line-height: 3.2rem;
    max-width: 1022px;
    width: 100%;
    margin: 2rem auto 0 auto;
    text-align: center;
    color: #00ff84;
}

.table__date {
    background-color: #0a9050;
    margin-bottom: 2rem;
}

.table__subtitle {
    color: #faff00;
}

.table__members {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.table__members-text {
    font-size: 2.8rem;
    line-height: 3.8rem;
    margin: 0.5rem 0 3rem 0;
    color: #fff;
}

.table__members-text + .table__members-text {
    margin-left: 2rem;
}

.table__button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.table__button-click {
    margin: 0 auto;
    background-color: #00ff84;
    transition: linear 0.3s;
    color: #000;
}

.table__button-click:hover {
    background-color: #2cff73;
}

.table__button-click_mdf {
    color: #00ff84;
    background: none;
    border: 1px solid #2cff73;
}

.table__button-click_mdf:hover {
    color: #000;
}

.table__button-click_mdf:hover svg > path {
    fill: #000;
}

.table__button-click_neon {
    margin: 0;
    max-width: 310px;
    width: 100%;
    padding: 2.1rem 0;
}

.table__button-click_neon:first-child {
    border-radius: 100px 0px 0px 100px;
}

.table__button-click_neon:last-child {
    border-radius: 0px 100px 100px 0px;
}

.table__button-click_plus {
    width: 120px;
    height: 120px;
    border-radius: 30px;
    padding: 0;
    position: relative;
    margin: 0 3rem;
}

.table__button-click_plus::after, .table__button-click_plus::before {
    display: block;
    content: "";
    width: 50px;
    height: 1px;
    background-color: #00ff84;
    position: absolute;
    top: 50%;
    left: 30%;
}

.table__button-click_plus::before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.table__button-click_plus:hover::after, .table__button-click_plus:hover::before {
    background-color: #000;
}

.table__button-click_mg {
    margin: 0 3rem;
}

.results {
    padding: 2.5rem 0;
}

.results__content {
    position: relative;
}

.results__content::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    padding: 1px;
    background: linear-gradient(180deg, #f25a3c 0%, #ff7a00 17.19%, #08a61a 54.17%, #ffc700 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    border: 1px solid;
}

.results__title {
    color: #db5542;
}

.results__title a {
    color: #db5542;
    border-bottom: dotted;
}

.results__title a:hover {
    color: #f66551;
}

.results__date {
    color: #000;
    background-color: #f2f2f2;
    text-align: center;
}

.results-column__date-wrap {
    margin-top: 5rem;
}

.results-column__group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    max-width: 910px;
    width: 100%;
}

.results-column__group + .results-column__group {
    margin-top: 7rem;
}

.results-column__row {
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}

.results-column__blocks {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.results-column__blocks + .results-column__blocks {
    margin-top: 2rem;
}

.results-column__blocks-name {
    font-size: 2.8rem;
    line-height: 3.8rem;
}

.results-column__blocks-name_win {
    color: #08a61a;
}

.results-column__blocks-name_invite {
    color: #7e7e7e;
    margin-left: 2rem;
}

.results-column__blocks-img {
    width: 80px;
    height: 80px;
    margin-right: 2rem;
}

.results-column__blocks_mgt + .results-column__blocks_mgt {
    margin-top: 3.5rem;
}

.results-column__list {
    border: 1px solid #cccccc;
    border-radius: 30px;
    padding: 2rem 4rem;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 8rem;
    gap: 3rem;
}

.results-column__item {
    font-size: 3.6rem;
}

.results-column__table {
    border: 1px solid #cccccc;
    margin-top: 5rem;
}

.results__subtitle {
    margin-top: 2rem;
}

.results__members-text {
    color: #000;
}

.results__members-text_green {
    color: #08a61a;
}

.results__btn {
    background-color: #db5542;
    transition: linear 0.2s;
    margin-top: 5rem;
}

.results__btn:hover {
    background-color: #f66551;
}

.rating {
    padding: 2.5rem 0;
}

.rating__content {
    border: 1px solid #08a61a;
    border-radius: 50px;
    padding-left: 8rem;
    padding-right: 8rem;
}

.rating__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.rating__menu {
    transition: linear 0.3s;
    position: relative;
}

.rating__menu:hover > .rating__menu-list {
    opacity: 1;
}

.rating__menu-text {
    font-size: 2.4rem;
    border-bottom: dotted;
    margin-left: 1rem;
}

.rating__menu-text_red {
    color: #db5542;
}

.rating__menu-list {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background-color: #fff;
    transition: linear 0.3s;
    opacity: 0;
    position: absolute;
    z-index: 77;
    top: 50px;
    display: none;
    overflow: hidden;
    width: 270px;
    padding: 3rem 0;
}

.rating__menu-item {
    transition: linear 0.3s;
    padding: 2rem;
    white-space: nowrap;
}

.rating__menu-item:hover {
    background: rgba(8, 166, 26, 0.1);
}

.rating__menu-item:hover > .rating__menu-text_black {
    border-bottom: none;
    font-weight: 700;
}

.rating__btn {
    display: block;
    margin: 5rem auto 0 auto;
    background-color: #db5542;
    transition: linear 0.2s;
}

.rating__btn:hover {
    background-color: #f66551;
}

.grid {
    margin-top: 3rem;
    display: grid;
    grid-auto-flow: row;
    grid-template: 62px 1fr /1fr;
}

.grid__wrap {
    display: grid;
    grid-template-rows: repeat(5, minmax(120px, 1fr));
    -ms-flex-align: center;
    align-items: center;
}

.grid__group {
    display: grid;
    grid-template-columns: 7.3% 28.7% 9.7% repeat(3, minmax(10%, auto)) minmax(25%, auto);
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 2.8rem;
}

.grid__group::after {
    max-width: 1090px;
}

.grid__group-header {
    font-size: 1.6rem;
    line-height: 2rem;
    height: 62px;
}

.grid__group-header span:nth-child(2) {
    padding-left: 3rem;
}

.grid__number {
    font-size: 5.6rem;
    font-style: italic;
}

.grid__player {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 3rem;
}

.grid__player-name {
    margin-left: 2rem;
}

.grid__points {
    font-weight: 700;
}

.grid__win {
    color: #08a61a;
}

.grid__lose {
    color: #dc2222;
}

.grid-text__center {
    text-align: center;
}

.grid__value-item {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #08a61a;
    border-radius: 10px;
    font-size: 2.4rem;
    color: #fff;
    width: 36px;
    height: 36px;
}

.grid__value-item_lose {
    background-color: #dc2222;
}

.about {
    padding: 2.5rem 0;
}

.about__img {
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-radius: 70px 70px 0 0;
    -o-object-fit: contain;
    object-fit: contain;
}

.about__column {
    height: 280%;
    background: linear-gradient(0deg, #ec826a, #ec826a);
    border-radius: 0 0 70px 70px;
    padding: 0 8rem 6rem;
    margin: -210px auto 0;
    color: #fff;
    text-align: center;
}

.about__wrap {
    margin-top: 3rem;
    font-size: 2.8rem;
    line-height: 3.8rem;
}

.about__wrap-text + .about__wrap-text {
    margin-top: 3rem;
}

.contribut {
    padding: 2rem 0 2.5rem;
}

.contribut__table {
    margin: 0 auto;
}

.contribut__members {
    padding: 2.5rem 0;
}

.contribut__members-text {
    color: #000;
    font-size: 2.4rem;
}

.contribut__members-text_red {
    color: #db5542;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.contribut__btn {
    background-color: #db5542;
    transition: linear 0.2s;
}

.contribut__btn:hover {
    background-color: #f66551;
}

.contribut__button {
    margin-bottom: 5rem;
}

.contribut__button-click {
    background: none;
    transition: linear 0.3s;
    color: #db5542;
    border: 1px solid #db5542;
}

.contribut__button-click:hover {
    color: #fff;
    background-color: #db5542;
}

.contribut__button-click:hover svg > path {
    fill: #fff;
}

.contribut__content {
    padding: 10rem 19rem;
}

.contribut__column + .contribut__column {
    margin-top: 5rem;
}

.contribut__column-title {
    font-size: 4.4rem;
    line-height: 6rem;
    margin-bottom: 3rem;
}

.invited {
    padding: 2.5rem 0 10rem 0;
}

.stream {
    padding: 2rem 0 2.5rem 0;
}

.stream__content {
    padding-top: 5rem;
}

.stream__button {
    margin-top: 3rem;
}

.stream__button-click {
    border-color: #08a61a;
    color: #08a61a;
}

.stream__button-click:hover {
    background-color: #08a61a;
}

.stream__button-click + .stream__button-click {
    margin-left: 3rem;
}

.group {
    padding: 2.5rem 0 10rem 0;
}

.accordion {
    padding: 2.5rem 0;
}

.board {
    padding: 2.5rem 0 10rem 0;
}

.contact {
    padding-top: 2.5rem;
}

.contact__column {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 70px 70px 0 0;
    overflow: hidden;
    font-size: 2.8rem;
}

.contact__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    max-width: 555px;
    width: 100%;
    background-color: #ffdf40;
}

.contact__title {
    font-size: 4.4rem;
}

.contact__box {
    margin: 5rem 0;
}

.contact__box-link {
    color: #db5542;
    display: block;
}

.contact__box-link + .contact__box-link {
    margin-top: 1rem;
}

.contact__address {
    margin-bottom: 5rem;
    max-width: 435px;
    width: 100%;
    line-height: 3.8rem;
}

.contact__time {
    line-height: 3.8rem;
}

.contact__time-text {
    font-weight: 700;
}

.contact__map {
    border-radius: 0 70px 0 0;
}
